/* [Master Stylesheet] */

/* ------------- Index of Stylesheet -------------
:: 1.0 Import Web Fonts
:: 2.0 Import All CSS
:: 3.0 Common/Base CSS
:: 4.0 Header Area CSS
:: 5.0 Sidebar Area CSS
:: 6.0 Welcome Area CSS
:: 7.0 About Me Area CSS
:: 8.0 Follow Instagram Area CSS
:: 9.0 Footer Area CSS
:: 10.0 Portfolio Area CSS
:: 11.0 Blog & Contact Area CSS
:: 12.0 Elements Area CSS
------------------------------------------------ */

/* :: 1.0 Import Web Fonts */

@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');

/* :: 2.0 Import All CSS */

@import '../css/bootstrap.min.css';
@import '../css/owl.carousel.css';
@import '../css/font-awesome.min.css';
@import '../css/pe-icon-7-stroke.css';
@import '../css/magnific-popup.css';
@import '../css/animate.css';

/* :: 3.0 Common/Base CSS */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    overflow-x: hidden;
}

.filhos-centralizados {
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #1d1d1d;
    line-height: 1.2;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

p {
    color: #838383;
    font-size: 15px;
    line-height: 2;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

a:focus {
    outline: 0 solid;
}

a,
a:hover,
a:focus {
    -webkit-transition: all 500ms ease 0s;
    transition: all 500ms ease 0s;
    text-decoration: none;
    outline: none;
    font-size: 14px;
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

#preloader {
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background-color: #f2f4f8;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}


.questions-area ul li {
    display: none;
    font-size: 14px;
    font-weight: 500;
    color: #1d1d1d;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
}

.questions-area ul li.question-show {
    display: block;
}

.questions-area {
    padding: 0 15px;
    position: absolute;
    bottom: 100px;
    z-index: 15;
    width: 100%;
    height: auto;
    left: 0;
}

.questions-area p {
    margin-bottom: 0;
}

.showbox {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
}

.loader {
    position: relative;
    margin: 0 auto;
    width: 60px;
}

.loader:before {
    content: '';
    display: block;
    padding-top: 100%;
}

.circular {
    -webkit-animation: rotate 10s linear infinite;
    animation: rotate 10s linear infinite;
    height: 10%;
    -webkit-transform-origin: center center;
    transform-origin: center center;
    width: 10%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    -webkit-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
    animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
    stroke-linecap: round;
}

@-webkit-keyframes rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px;
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124px;
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px;
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124px;
    }
}

@-webkit-keyframes color {
    100%,
    0% {
        stroke: #d62d20;
    }
    40% {
        stroke: #0057e7;
    }
    66% {
        stroke: #008744;
    }
    80%,
    90% {
        stroke: #ffa700;
    }
}

@keyframes color {
    100%,
    0% {
        stroke: #d62d20;
    }
    40% {
        stroke: #0057e7;
    }
    66% {
        stroke: #008744;
    }
    80%,
    90% {
        stroke: #ffa700;
    }
}

ul,
ol {
    margin: 0;
}

ol li,
ul li {
    list-style: outside none none;
}

img {
    height: auto;
    max-width: 100%;
}

.studio-table {
    display: table;
    z-index: 9;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
}

.studio-table-cell {
    display: table-cell;
    vertical-align: middle;
}

.mt-15 {
    margin-top: 15px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-50 {
    margin-top: 50px;
}

.mt-70 {
    margin-top: 70px;
}

.mt-100 {
    margin-top: 100px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-50 {
    margin-bottom: 50px;
}

.ml-15 {
    margin-left: 15px;
}

.ml-30 {
    margin-left: 30px;
}

.mr-15 {
    margin-right: 15px;
}

.mr-30 {
    margin-right: 30px;
}

.mb-70 {
    margin-bottom: 70px;
}

.mb-100 {
    margin-bottom: 100px;
}

.bg-img {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-gray {
    background-color: #f6f6f6;
}

.bg-transparent {
    background-color: transparent;
}

.bg-transparent-dark {
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.bg-transparent-light {
    background-color: rgba(255, 255, 255, 0.5) !important;
}

.font-bold {
    font-weight: 700;
}

.font-light {
    font-weight: 300;
}

.height-500 {
    height: 500px !important;
}

.height-600 {
    height: 600px !important;
}

.height-700 {
    height: 700px !important;
}

.height-800 {
    height: 800px !important;
}

#scrollUp {
    background-color: #222;
    border-radius: 0;
    bottom: 100px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.3);
    color: #fff;
    font-size: 24px;
    height: 40px;
    line-height: 40px;
    right: 0;
    text-align: center;
    width: 35px;
}

.section_padding_100 {
    padding: 100px 0;
}

.section_padding_50 {
    padding: 50px 0;
}

.section_padding_100_70 {
    padding: 100px 0 70px;
}

.section_padding_100_50 {
    padding: 100px 0 50px;
}

.section_padding_100_0 {
    padding: 100px 0 0;
}

.section_padding_0_100 {
    padding: 0 0 100px;
}

.section_heading {
    margin-bottom: 50px;
    position: relative;
    z-index: 1;
}

.section_heading h2 {
    font-size: 48px;
    margin-bottom: 0;
    text-transform: uppercase;
}

.section_heading.text-left {
    text-align: left !important;
}

.studio-btn {
    display: inline-block;
    color: #fff;
    background-color: #1d1d1d;
    height: 52px;
    padding: 0 15px;
    border-radius: 0;
    line-height: 52px;
    font-size: 16px;
    min-width: 140px;
}

.studio-btn > img {
    padding-right: 5px;
}

.studio-btn:hover,
.studio-btn:focus {
    color: #fff;
    font-size: 16px;
}

/* :: 4.0 Header Area CSS */

.header-area {
    width: 100%;
    height: 110px;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    padding: 0 34px;
}

#searchbtn {
    cursor: pointer;
    margin-left: 15px;
}

.header-search-form,
.search-form-on .navbar-nav {
    display: none;
}

.search-form-on .header-search-form {
    display: block;
}

.header-area .main-menu .nav-link {
    font-size: 14px;
    text-transform: uppercase;
    color: #ffffff;
    padding: 0 25px;
}

.header-area .main-menu .nav-link:hover,
.header-area .main-menu .nav-link:focus {
    color: #fff;
}

.dropdown-menu.show {
    border: none;
    padding: 15px 0;
    box-shadow: 0 5px 40px rgba(0, 0, 0, 0.15);
    margin-top: 15px;
}

.dropdown-item {
    text-transform: uppercase;
    font-size: 13px;
}

.dropdown-item:hover {
    color: #000;
    font-size: 13px;
}

.header-search-form form input {
    width: 600px;
    height: 35px;
    padding: 5px 15px;
    font-size: 12px;
    color: #fff;
    border: none;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.6);
    border-radius: 30px;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
}

.header-search-form form input:focus {
    box-shadow: none;
    border-color: rgba(255, 255, 255, 1);
    background-color: transparent;
}

.gradient-background-overlay {
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    height: 150px;
}

.gradient-background-overlay:before {
    content: "";
    position: absolute;
    height: 150px;
    width: 100%;
    z-index: -1;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.01) 90%, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.01) 90%, rgba(0, 0, 0, 0) 100%);
}

/* :: 5.0 Sidebar Area CSS */

.social-sidebar-area {
    width: 120px;
    height: 72%;
    background-color: transparent;
    position: fixed;
    bottom: 100px;
    left: 0;
    z-index: 100;
    overflow: hidden;
}

.social-info-area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    position: absolute;
    bottom: 270px;
    left: -110px;
    z-index: 10;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.social-info-area a {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 5px;
    line-height: 1;
}

.social-info-area a i {
    font-size: 12px;
    color: #9f9f9f;
    margin-right: 5px;
}

.message-box > a {
    width: 120px;
    height: 100px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #101010;
    text-align: center;
    color: #fff;
    font-size: 30px;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.message-box > a > img {
    max-width: 40px;
}

/* :: 6.0 Welcome Area CSS */

.welcome-area {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100vh !important;
}

.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    width: 5%;
    height: 5%;
    margin: auto;
    z-index: 5555;
}

.carousel-indicators li {
    width: 20%;
    height: 10px;
    margin-right: 2;
    margin-left: 2;
    text-indent: -9999999px;
    background-color: #fff;
    cursor: auto;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
}

.carousel-indicators li:after,
.carousel-indicators li:before {
    display: none;
}

/*.carousel-indicators li.active:after {
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    top: -26px;
    z-index: 1100;
    position: relative;
    background-image: url(../img/core-img/active.png);
}*/

.carousel-item:after {
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.17);
    content: '';
    z-index: -1;
}

.carousel-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.slide-text {
    padding: 25px 30px 15px;
    border-left: 3px solid #fff;
    margin-left: 200px;
    background-color: rgba(255, 255, 255, 0.2);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    margin-top: -100px;
}

.slide-text h2 {
    margin-bottom: 0;
    font-size: 36px;
    color: #fff;
    line-height: 1;
}

.slide-text span {
    font-size: 100px;
    color: #fff;
    line-height: 1;
    font-weight: 100;
}

/* :: 7.0 About Me Area CSS */

.about-content span {
    width: 30px;
    height: 2px;
    background-color: #bebebe;
    margin: 0 auto 30px;
    display: block;
}

.about-content h2 {
    margin-bottom: 40px;
    font-size: 36px;
}

.single-service-area img {
    margin-bottom: 50px;
}

.single-service-area h5 {
    margin-bottom: 20px;
}

.single-pie-bar h6 {
    margin-top: 15px;
    margin-bottom: 0;
}

/* :: 8.0 Follow Instagram Area CSS */

.follow-me-instagram-area {
    border-top: 1px solid #dcdcdc;
    margin-bottom: 80px;
}

.follow-me-title h5 {
    margin: 30px 0;
    font-size: 18px;
}

.single-instagram-feeds a {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(34, 34, 34, 0.7);
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #fff;
    font-size: 30px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
}

.single-instagram-feeds:hover a {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

/* :: 9.0 Footer Area CSS */

.footer-area {
    position: fixed;
    z-index: 100;
    background-color: #1d1d1d;
    height: 40px;
    width: 100%;
    padding: 0 35px;
    bottom: 0;
    left: 0;
}

.single-footer-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.single-footer-content > a {
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    margin-left: 5px;
    line-height: 1;
}

/* :: 10.0 Portfolio Area CSS */

.gallery_area {
    height: calc(100% - 200px);
    width: calc(100% - 150px);
    overflow-y: scroll;
    position: fixed;
    z-index: 1;
    top: 200px;
    left: 185px;
    right: 60px;
    padding-right: 45px;
}

.portfolio-menu button {
    background-color: transparent;
    font-size: 15px;
    color: #000000;
    padding: 0 20px;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
}

.portfolio-menu button.active,
.portfolio-menu button:hover {
    color: #1d1d1d;
}

.portfolio-menu button:focus {
    box-shadow: none;
}

.gallery_menu {
    margin-bottom: 100px;
}

.column_single_gallery_item {
    margin-bottom: 30px;
}

.column_single_gallery_item img {
    width: 100%;
}

.hover_overlay {
    position: absolute;
    width: calc(100% - 30px);
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    top: 0;
    left: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
}

.hover_overlay a {
    font-size: 30px;
    color: #fff;
}

.column_single_gallery_item:hover .hover_overlay {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

/* :: 11.0 Blog & Contact Area CSS */

.blog-content span,
.contact-heading-text span {
    display: block;
    width: 30px;
    height: 3px;
    background-color: #bebebe;
    margin: 0 auto 30px;
}

.blog-content h2,
.contact-heading-text h2 {
    font-size: 36px;
}

.contact-heading-text h2,
.blog-content p {
    margin-bottom: 50px;
}

.post-date,
.post-date:hover,
.post-date:focus {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    font-weight: 500;
}

.post-author,
.post-author:hover,
.post-author:focus {
    font-size: 12px;
    text-transform: uppercase;
    color: #838383;
    display: block;
    margin-bottom: 50px;
}

.pagination-area .page-link {
    color: #1d1d1d;
    border: none;
    font-size: 16px;
    font-weight: 500;
    position: relative;
    z-index: 1;
}

.page-item.active .page-link {
    z-index: 1;
    color: #1d1d1d;
    background-color: transparent;
    border-color: transparent;
    padding-right: 80px;
}

.page-item.active .page-link:after {
    content: '';
    width: 70px;
    height: 2px;
    background-color: #1d1d1d;
    position: absolute;
    bottom: 13px;
    left: 45px;
}

.contact-form-area form .form-control {
    margin-bottom: 30px;
    font-size: 14px;
    font-style: italic;
    height: 60px;
    border-bottom: 2px solid #c0c0c0;
    border-top: 0;
    border-left: 0;
    border-radius: 0;
    border-right: none;
    background-color: transparent;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
}

.contact-form-area form .form-control:focus {
    box-shadow: none;
    border-color: #1d1d1d;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
}

.contact-form-area form textarea.form-control {
    height: 200px;
}

.map-area {
    position: relative;
    z-index: 1;
    padding-bottom: 100px;
}

#googleMap {
    width: 100%;
    height: 485px;
    position: relative;
    z-index: 1;
}

.contact-core-info {
    position: absolute;
    top: 30px;
    width: 280px;
    background-color: #1d1d1d;
    z-index: 1000;
    left: -90px;
    padding: 15px 40px;
    text-align: center;
    height: calc(100% - 60px);
}

.contact-core-info img {
    margin-bottom: 50px;
}

.contact-core-info .single-footer-content {
    display: block;
    margin-bottom: 10px;
    text-align: center;
}

.contact-core-info .single-footer-content img {
    display: block;
    margin: 0 auto 10px;
}

.contact-popup-form .modal-content {
    padding: 50px;
}

.contact-popup-form .modal-content {
    padding: 50px;
    border: none;
    box-shadow: 0 5px 50px rgba(0, 0, 0, 0.15);
    background-color: rgba(255, 255, 255, 0.9);
}

/* :: 12.0 Elements Area CSS */

/* Accordians */

.elements-title h2 {
    font-size: 36px;
    margin-bottom: 100px;
}

.panel {
    background-color: #fff;
    border: 0 solid transparent;
    border-radius: 4px;
    box-shadow: 0 0 0 transparent;
    margin-bottom: 15px;
}

.single-accordion:last-of-type {
    margin-bottom: 0px;
}

.single-accordion h6 a {
    background-color: #1d1d1d;
    border-radius: 0;
    color: #fff;
    display: block;
    margin: 0;
    padding: 20px 60px 20px 20px;
    position: relative;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 500;
}

.single-accordion h6 a.collapsed {
    background-color: #aeaeae;
    color: #fff;
}

.single-accordion h6 a span {
    font-size: 10px;
    position: absolute;
    right: 20px;
    text-align: center;
    top: 25px;
}

.single-accordion h6 a.collapsed span.accor-close {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
}

span.accor-open {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
}

.single-accordion h6 a.collapsed span.accor-open {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
}

.single-accordion h6 {
    margin-bottom: 0;
    text-transform: uppercase;
}

.single-accordion .accordion-content {
    border-top: 0 solid transparent;
    box-shadow: none;
}

.single-accordion .accordion-content p {
    padding: 20px 15px 5px;
    margin-bottom: 0;
}

/* barfiller */

.single_progress_bar {
    margin-bottom: 20px;
}

.single_progress_bar:last-of-type {
    margin-bottom: 0;
}

.barfiller {
    background: #e0e0e0;
    border: none;
    border-radius: 0;
    box-shadow: none;
    height: 2px;
    margin-bottom: 5px;
    position: relative;
    width: 100%;
}

.barfiller .fill {
    display: block;
    position: relative;
    width: 0px;
    height: 100%;
    background: #333;
    z-index: 1;
}

.barfiller .tipWrap {
    display: none;
}

.barfiller .tip {
    margin-top: 15px;
    font-size: 15px;
    color: #838383;
    left: 0px;
    position: absolute;
    z-index: 2;
    background: transparent;
}

.barfiller .tip:after {
    display: none;
}

.single_progress_bar p {
    margin-bottom: 0;
    margin-top: 10px;
}

/* Cool Facts */

.counter-area h2 {
    font-size: 36px;
}

.counter-area h6 {
    margin-bottom: 0;
    color: #838383;
}

.studio-btn.studio-btn-2 {
    background-color: transparent;
    border: 2px solid #1d1d1d;
    color: #1d1d1d;
}

.studio-btn.studio-btn-4 {
    background-color: transparent;
    border: 2px solid #aeaeae;
    color: #aeaeae;
}

/* Sonar CSS */

.carousel-indicators li.active:before {
    content: '';
    display: inline-block;
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    top: -25px;
    left: 1px;
    -webkit-animation: sonar-effect 1s ease-in-out .1s infinite;
    animation: sonar-effect 1s ease-in-out .1s infinite;
    z-index: 1;
    background-color: #fff;
}


@-webkit-keyframes sonar-effect {
    0% {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }
    50% {
        opacity: 0.5;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
        box-shadow: 0 0 0 3px #fff, 0 0 5px 5px #fff, 0 0 0 5px #fff;
    }
    100% {
        box-shadow: 0 0 0 3px #fff, 0 0 5px 5px #fff, 0 0 0 5px #fff;
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }
}


@keyframes sonar-effect {
    0% {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }
    50% {
        opacity: 0.5;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
        box-shadow: 0 0 0 3px #fff, 0 0 5px 5px #fff, 0 0 0 5px #fff;
    }
    100% {
        box-shadow: 0 0 0 3px #fff, 0 0 5px 5px #fff, 0 0 0 5px #fff;
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }
}